<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ar pos</title>
</head>
<body>


  <script src="{{url_for('static', filename='js/jquery-1.10.2.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/socket.io.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/three.js')}}"></script>
  <script src="{{url_for('static', filename='js/three/three-text2d.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/three/TrackballControls.js')}}"></script>
  <script src="{{url_for('static', filename='js/arpos.js')}}"></script>
</body>
</html>